# Harry Potter Lookup Notebook

Scratch pad notebook for solving problems with the main program

In [37]:
import pandas as pd
import numpy as np
import os
import time

In [7]:
#import data from google sheet
sheeturl = 'https://docs.google.com/spreadsheets/d/1xGsJmr-7mEmIDxnRcFsFLbo-UR8JH68jZVm7gb8yqbk/edit#gid=0'
csv_export_url = sheeturl.replace('/edit#gid=', '/export?format=csv&gid=')
#df = pd.read_csv(csv_export_url)

In [6]:
# import data from downloaded csv
df = pd.read_csv('charachter_list.csv')

In [7]:
df

,id,name,hogwarts_house,info
0,1,harry potter,Gryffindor,The Boy Who lived. Defeated Lord Voldemort.
1,2,hermione granger,Gryffindor,Cleverest girl in her year at Hogwarts.
2,3,ron weasley,Gryffindor,Harry Potter's best friend. One of 7 Weasley c...
3,4,draco malfoy,Slytherin,Pure-blood snob and only son of Lucius and Nar...
4,5,ginny weasley,Gryffindor,"Talented witch, only daughter in the Weasley f..."
5,6,neville longbottom,Gryffindor,in the same year as Harry and his crew. Instru...
6,7,severus snape,Slytherin,Potions master at hogwarts until 1996. Death E...
7,8,minerva mcgonagall,Gryffindor,Transfiguration professor at Hogwarts and depu...

This for turning dataframe into dictionary
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_dict.html

`df.to_dict('records')
[{'col1': 1, 'col2': 0.5}, {'col1': 2, 'col2': 0.75}]

In [9]:
# turn dataframe into dictionary
# yes finally!!!!!!! 
df.to_dict('records')

[{'id': 1,
  'name': 'harry potter',
  'hogwarts_house': 'Gryffindor',
  'info': 'The Boy Who lived. Defeated Lord Voldemort.'},
 {'id': 2,
  'name': 'hermione granger',
  'hogwarts_house': 'Gryffindor',
  'info': 'Cleverest girl in her year at Hogwarts.'},
 {'id': 3,
  'name': 'ron weasley',
  'hogwarts_house': 'Gryffindor',
  'info': "Harry Potter's best friend. One of 7 Weasley children."},
 {'id': 4,
  'name': 'draco malfoy',
  'hogwarts_house': 'Slytherin',
  'info': "Pure-blood snob and only son of Lucius and Narcissa. Harry Potter\\'s nemesis"},
 {'id': 5,
  'name': 'ginny weasley',
  'hogwarts_house': 'Gryffindor',
  'info': 'Talented witch, only daughter in the Weasley family. Married to Harry Potter'},
 {'id': 6,
  'name': 'neville longbottom',
  'hogwarts_house': 'Gryffindor',
  'info': 'in the same year as Harry and his crew. Instrumental to the downfall of Lord Voldemort, killed his snake, Nagini.'},
 {'id': 7,
  'name': 'severus snape',
  'hogwarts_house': 'Slytherin',
  'info': 'Potions master at hogwarts until 1996. Death Eater double agent for Albus Dumbledore. Hopelessly in love with Lilly Evans.'},
 {'id': 8,
  'name': 'minerva mcgonagall',
  'hogwarts_house': 'Gryffindor',
  'info': 'Transfiguration professor at Hogwarts and deputy headmistress. Animagus, can turn into a cat.'}]

In [13]:
def capitalize_name (string):
    """
    This function splits a string and capitalizes every element. input is string, output is string.
    """
    return ' '.join([word.capitalize() for word in string.split()])

### JSON File import  
- Found JSON from theJasonBarton's github project 
- This is the [repo](https://github.com/theDavidBarton/the-harry-potter-database)

In [3]:
# import json module
import json

In [4]:
# Opening JSON file 
with open('characters.json') as json_file:
    data = json.load(json_file)
  
    # Print the type of data variable
    print("Type:", type(data))

Type: <class 'list'>

In [5]:
# check data
data[0]

{'id': 1,
 'name': 'Euan Abercrombie',
 'birth': 'between 1 September 1983 and 31 August 1984',
 'death': None,
 'species': 'Human',
 'ancestry': None,
 'gender': 'Male',
 'hair_color': None,
 'eye_color': None,
 'wand': None,
 'patronus': None,
 'house': 'Gryffindor',
 'associated_groups': ['Hogwarts School of Witchcraft and Wizardry',
  'Gryffindor'],
 'books_featured_in': [5]}

In [426]:
# effectively re creating the dictionary from previous versions
hp_charachter_list = data2

In [445]:

# this value stays true unless the user wants to quit the program (see continue_var)
program_open = True
while program_open == True:
    # user should type in name here. capitalized names don't matter but name all in one. 'first last'. 
    search_name = input('''Which Harry Potter Character would you like to know more about?
                \n(Type a single letter to see list of names beginning with that letter) : ''')
    
    # ------ Character enter and check
    # add printing a list of characters who's first name begins with the letter entered
    while len(search_name) == 1:
        letter = search_name.lower()
        # print out capitalized names of all people who's first name with the letter inputted
        names = [person['name'] for person in hp_charachter_list if person['name'].lower().startswith(letter)]
        if len(names) == 0:
            print('There are no characters in the database that start with that letter')
        for name in names:
            print(name) 
        search_name = (input('Please enter a charachter: '))
    
    # ------- Error for Not in Database
    while search_name.lower() not in [name['name'].lower() for name in hp_charachter_list]:
        #if a valid name is not entered, user prompted to enter another name
        search_name = input('Sorry that character is not in the database\nEnter another name: ')
    
    # -------- Printing INFO
    if search_name.lower() in [name['name'].lower() for name in hp_charachter_list]:   # <-- eventually need to figure out how to search for partial names (i.e. 'harry')
        print('Ok I will tell you more about ', capitalize_name(search_name))
        # print out the 'info' key related to that charachter name
        # eventually figure out how to specify type of info <----
        for person in hp_charachter_list:
            if person['name'].lower() == search_name.lower():
                time.sleep(2.0)
                print("{name} : {info}".format(name = capitalize_name(person['name']), info = person['info']))
    
    # -------- Ask for hogwarts house
    #ask about the same character's house (eventually add more inputs here (i.e. House, birthday, etc))
    time.sleep(2.0)
    more_info_var = input('Would you like to know their Hogwarts House?: ')

    #check for valid input (will have to update if dict key search is added)
    while more_info_var.lower() not in ('y', 'yes', 'n', 'no'):
        more_info_var = input('Please type y or n: ')
    
    # -------- Hogwarts house print
    #if they say yes print the house the character was in
    if more_info_var.lower() in ('y', 'yes'):
        for person in hp_charachter_list:
            if person['name'].lower() == search_name.lower():
                print("They were in {house} house".format(**person)) #some cool dictionary formatting I found
    #if they say no continue on
    else:
        pass
        
    # ask if the user wants to continue 
    time.sleep(2.0)
    continue_var = input('Would you like to know about a different character?: ')
    
    #ensure user gives yes or no input
    while continue_var.lower() not in ('y', 'yes', 'n', 'no'):
        continue_var = input('Please type y or n: ')
    
    
    # if they do not, close the program
    if continue_var.lower() in ('n', 'no'):
        print('Ok goodbye!')
        print("""
          ___                      ___  
         (o o)                    (o o) 
        (  V  ) Mischief Managed (  V  )
        --m-m----------------------m-m--
        """)
        program_open = False

Which Harry Potter Character would you like to know more about?

(Type a single letter to see list of names beginning with that letter) :  s

Sirius Black
Stubby Boardman
Seamus Finnigan
Scorpius Malfoy
Sturgis Podmore
Sanguini
Scabior
Selwyn
Salazar Slytherin
Severus Snape
Susan Bones
Septima Vector

Please enter a charachter:  sirius black

Ok I will tell you more about  Sirius Black
hi
Sirius Black :   Sirius Black is the oldest son of the Blacks. He ran away from home at 16 and lived with James Potter and his family for a while. Soon after he got his own place from money he received from his Uncle Alfred (below). He was in Gryffindor house, unlike most of the other blacks. He was best friends with James Potter, Remus Lupin, and Peter Pettigrew while at school, creating the marauder’s map with them. He was then sent to Azkaban (after graduating) for supposedly telling Voldemort where James, Lily, and Harry Potter were (Even though he is Harry’s godfather). He broke out 12 years later and was supposedly after Harry. He turned out not to be bad, and Harry loved him like a father and a brother. He died in Book 5 after being killed by his first cousin Belatrix Lestrange.

KeyboardInterrupt: Interrupted by user

In [20]:
name_list = [name['name'] for name in hp_charachter_list]
type(name_list[0])

str

In [413]:
names = [person['name'] for person in hp_charachter_list if person['name'].lower().startswith('h')]

TypeError: string indices must be integers

In [414]:
names

['Heathcote Barbary',
 'Humphrey Belcher',
 'Herbert Chorley',
 'Hector Dagworth-Granger',
 'Harold Dingle',
 "Hermione Granger's father",
 'Harper',
 'Heady',
 'Hereward',
 'Hermes',
 'Hogwarts Express conductor',
 'Hogwarts school mice',
 'House of Black house-elves',
 'Hassan Mostafa',
 'Harry Potter',
 'Horace Slughorn',
 'Hippocrates Smethwyck',
 'Hugo Granger-Weasley',
 'Herman Wintringham',
 'Hengist of Woodcroft',
 "Hannah Abbott's mother",
 'Hannah Abbott',
 'Hetty Bayliss',
 'Hermione Granger',
 "Hermione Granger's mother",
 'Hedwig',
 'Hedwig',
 "Hermione Granger's sister",
 'Hokey',
 'Hope Howell',
 'Helga Hufflepuff',
 'Hestia Jones',
 'Helena Ravenclaw',
 'Hepzibah Smith']

Ok now I have it working with the json I have. The `.lower()`s everywhere are a bit annoying but I'll have to logic my way out of that later. Only issue now, is this dat doesn't have an 'info' section. So I'll have to either format a new info section from the information given here (maybe their birthday is this, their wand is this, they were in these books), or I'll have to find better data with a sort of 'about' or 'info' section.

### Acquiring more Data
Here I am going to attempt to acquire more data by using beautiful soup to scrape data from a webpage I found. Hopefully I can create a new table with names and info, and then join that table to my list of characters that I already have.
Here is the [Link to the Website](http://magical-menagerie.com/wizardry/full-character-listing/)

In [143]:
from requests import get
from bs4 import BeautifulSoup
import bs4

In [41]:
# assign url of website to variable
url  = 'http://magical-menagerie.com/wizardry/full-character-listing/'

# set headers and get a responses
headers = {'User-Agent': 'Hermione Granger'} # Some websites don't accept the pyhon-requests default user-agent

# get response from website
response = get(url, headers=headers)

# response status code
response.status_code

200

In [42]:
# turn content from website into soup
soup = BeautifulSoup(response.content, 'html.parser')

In [85]:
# this is promising
soup.body.strong.contents

['Abbot, Hannah- ']

In [86]:
soup.strings

In [116]:
# turn soup into only the section with the list of names
soup2 = soup.find('td', class_ = 'postcontent')

In [138]:
#soup2.find_all(True)

In [144]:
# can define boolean funtion to pass into find_all function
def surrounded_by_strings(tag):
    return (isinstance(tag.next_element, bs4.NavigableString)
            and isinstance(tag.previous_element, bs4.NavigableString))

In [146]:
#soup2.find_all(surrounded_by_strings)

In [157]:
# this finds all the info I want I just need to figure out how to get the text
soup2.find_all('p')

In [173]:
# omg I'm the smartest human alive! 
# I freakin did it
for thing in soup2.find_all('p'):
    # only print til Bs so i don't have so many to look at at first
    if thing.get_text().strip().startswith('B'):
        break
        
    # print out the get text from each p. Strip whitespace
    print(thing.get_text().strip())
    
    # print the type
    print(type(thing.get_text()))
    
# Ok so what I have here is a string for each of the charachters.
# I can put that into a dataframe, split on the '-' and get rid of that
# then I'll have to split the first and last name on the ',' then join together first and last name

An A – Z Guide of the Characters in Harry Potter!
<class 'str'>
Abbot, Hannah-  A Hufflepuff girl in Harry’s year and a prefect in books 5 and 6. She was in the D.A. and her mother was killed in Book 6 by a death eater. Marrys Neville Longbottom and becomes the barwoman of the Three Broomsticks
<class 'str'>
Abercrombie, Euan- A Gryffindor student who first came to Hogwarts in Harry’s 4th year.
<class 'str'>
Ackerley, Steward- A Ravenclaw student who was first introduced in Goblet of Fire.
<class 'str'>
Aesalon, Falcon- From ancient Greece, he was the first ever recorded animagus and could transform into a falcon.
<class 'str'>
Agnes- A patient in St. Mungo’s who’s head is covered in fur and barks instead of speaks.
<class 'str'>
Agrippa, Cornelius- Living from 1486 – 1535 and was on a wizard card saying celebrated wizard imprisoned by Muggles for his writing, because they thought his books were evil”. She is also the only card that Ron does not have in his collection (along with Ptolemy).
<class 'str'>
Alderton, Archibald- On a wizard card and is famous for blowing up a small town in Hampshire while trying to mix a birthday cake.
<class 'str'>
Alguf the Awful- A goblin who is known for trying to sell dungbombs.
<class 'str'>
Alphard-  Sirius Black’s uncle who left Sirius gold to buy his own place. He, like Sirius, has been removed from the Black family tree (probably for leaving Sirius the gold).
<class 'str'>
Archie- An old wizard Harry saw while at the world cup, who said he would rather wear a muggle women’s dress than men’s clothing because he “likes a nice healthy breeze around his privates.”
<class 'str'>
Aragog-  The creature that was believed to be the monster inside the Chamber of Secrets. Was raised by Hagrid inside the castle and is an acromantula. Lives in the forest with it’s family, and ordered Harry and Ron to be killed in Book 2. He also died in Book 6.
<class 'str'>
Arnold-  Ginny’s pet Pygmy Puff.
<class 'str'>
Aubrey, Bertram-  A boy that Sirius and James Potter used an illegal hex on that made his head swell to twice it’s normal size.
<class 'str'>
Avery-  A death eater who stayed out of Azkaban by saying he was acting under the imperius curse. He was apologizing to Voldemort in Book 4, but Voldemort then said “crucio” and he fell in pain.
<class 'str'>

#### Ok so what I have here is a string for each of the charachters.
#### I can put that into a dataframe, split on the '-' and get rid of that
#### then I'll have to split the first and last name on the ',' then join together first and last name

In [641]:
#df = pd.DataFrame(columns = ['Name', 'info'])

#initalize empty list for storing all strings
all_names = []
all_info = []

for thing in soup2.find_all('p'):
        
    # print out the get text from each p. Strip whitespace
    string = thing.get_text().strip()

    # replace all weird slightly longer – s with the shorter ones -
    string = string.replace('–', '-')
    
    # split string on the short dash - 
    split_strings = string.split('-', maxsplit=1)
    
    # check for things that don't have names and info
    if len(split_strings) > 1:
        # append name string to name list
        all_names.append(split_strings[0])

        # append info string to info list
        all_info.append(split_strings[1])

In [642]:
# create dataframe from all_names and info
df = pd.DataFrame({'name': all_names,
                   'info': all_info
                  })
df

,name,info
0,An A,Z Guide of the Characters in Harry Potter!
1,"Abbot, Hannah",A Hufflepuff girl in Harry’s year and a prefect in books 5 and 6. She was in the D.A. and her mother was killed in Book 6 by a death eater. Marrys Neville Longbottom and becomes the barwoman of the Three Broomsticks
2,"Abercrombie, Euan",A Gryffindor student who first came to Hogwarts in Harry’s 4th year.
3,"Ackerley, Steward",A Ravenclaw student who was first introduced in Goblet of Fire.
4,"Aesalon, Falcon","From ancient Greece, he was the first ever recorded animagus and could transform into a falcon."
...,...,...
691,"Zabini, Blaise","A Slytherin boy in Harry’s year who, when Slughorn was complimenting Harry and saying that he had great power, coughed sarcastically. Ginny then yelled at him saying, “Yeah, Zabini, because you’re so talented…at posing…”. His mother was famous for being beautiful and marrying 7 times; each to a witch wizard who died of a mysterious death. He does not like muggle borns or blood traitors either, like Draco Malfoy."
692,"Zabini, ?",Was famous for being beautiful and marrying 7 times; each to a witch wizard who died of a mysterious death. The mother of Blaise Zabini.
693,"Zamojski, Ladislaw",A Polish chaser that Ron was compared to from one of his saves (comparison from Zamojski as chaser to Ryan from the Irish National Quidditch team as keeper).
694,"Zeller, Rose",A girl sorted into Hufflepuff in Book 5.
695,"Zograf, ?",Keeper for the Bulgarian National Quidditch Team.

Encountered weird problem where some of the '-'s were longer. Replaced all longer dashes with shorter ones
Then split the string.

All ?s appear to be where the website doesn't know the name. 

Need to split up Fred and George Weasley. They're in the same entry for some reason

In [643]:
hp_charachter_list[0]['name']

'Euan Abercrombie'

In [644]:
# create list of all character names
all_orig_character_names = [hp_charachter_list[i]['name'] for i in range(len(hp_charachter_list))]

#### Info and names
So now I have a json file (dictionaries) of all the characters that I could use. And I have a dataframe with a name (written last, first) and info about that character.

TODO:
- Match up the lists of names (from json and df)
- Join appropriate data from info table to json (add new info field)
- Figure out what names are different in each dataset and what to do about it.
    - i.e. in the info dataset Fred and George Weasley will need to be split into their own entry then joined 
    - i.e. Zabini, ? in the info dataset refers to Blaise Zabini's mother in the character json list.

In [646]:
# drop first entry because it's just the title
df = df.drop(index = 0)

In [648]:
pd.set_option('display.max_colwidth', None)

In [649]:
df[df.name == 'Weasley, Fred and George']['info']

643     The 3rd and 4th children of Arthur and Molly Weasley, and twin brothers. Together, they were mischievous makers at Hogwarts. They started selling things at Hogwarts; such as ways to get out of class and other practical jokes. They were also the beaters on the Gryffindor quidditch team from Books 1 through 5 (they were thrown off in Book 5 by Umbridge). After they leave Hogwarts (literally leave- jumped on their broomsticks and flew away because they hated Umbridge) they started their joke shop with the money that Harry Potter gave them (1,000 galleons- his winnings from the Triwizard Tournament). They called their joke shop Weasley Wizard Wheezes. Their joke shop seems to be doing really well in Book 6, although all the things from their shop are banned at Hogwarts. It is unknown if they joined the Order of the Phoenix after they left Hogwarts. Their birthday is April 1st, April fools day. They used to live at the Burrow, but now live in a flat above their joke shop. George lost an ear in Harry Potter and the Deathly Hallows and Fred was killed in the final battle.
Name: info, dtype: object

I'm not sure what to do with this information yet. I'd like to have separate inputs for each one. I might get their info from a different site.

In [650]:
# create list of names from the dataframe
info_names_list = list(df.name)

In [582]:
#info_names_list

In [583]:
#all_orig_character_names

In [651]:
# split name on comma 
def get_first_and_last_name(name):
    '''
    This function takes a string that is seperated by a comma, 
    and returns the first and last name in that order
    '''
     # split string on comma
    full_name = name.split(', ')
    
    if len(full_name) < 2:
        
        return full_name[0]
    
    # last name is the first element in the list
    last_name = full_name[0]
    
    # first name is the second element in the list
    first_name = full_name[1]
    
    # concat first and last name together with a space
    new_name = first_name + ' ' + last_name

    
    return new_name

In [652]:
# initalize blank new list

info_names_list_new = []

for name in info_names_list:
    new_name = get_first_and_last_name(name)
    info_names_list_new.append(new_name)

In [653]:
# check to see if it worked
info_names_list_new[0], len(info_names_list_new)

('Hannah Abbot', 695)

In [654]:
# set up lists

has_info = []
does_not_have_info = []

#loop through the original character names to see if we have info on them
for name in all_orig_character_names:
    
    # add to the has info list if we have bio info on them
    if name in info_names_list_new:
        has_info.append(name)
        
    # add to does not have info list if we don't
    else:
        does_not_have_info.append(name)

In [655]:
for name in has_info:
    df.loc

In [656]:
from operator import itemgetter

In [657]:
# Loop through all names in the json dictionary

json_names = list(map(itemgetter('name'), data))

# If the name is in the has info list 

peeps_with_info = [person for person in json_names if person in has_info]

# pull info from dataframe (maybe do a seperate function for this get info from dataframe)

# assign to new dictionary key 'info'

# if not

# assign "no info available for this character" to the key "info"

In [658]:
# change names around in df

df['first_last'] = df.name.apply(get_first_and_last_name)

In [659]:
#use .loc to find all the people in the dataframe who are also in the json
df.loc[df.first_last.isin(peeps_with_info) == True]

,name,info,first_last
2,"Abercrombie, Euan",A Gryffindor student who first came to Hogwarts in Harry’s 4th year.,Euan Abercrombie
5,Agnes,A patient in St. Mungo’s who’s head is covered in fur and barks instead of speaks.,Agnes
6,"Agrippa, Cornelius","Living from 1486 - 1535 and was on a wizard card saying celebrated wizard imprisoned by Muggles for his writing, because they thought his books were evil”. She is also the only card that Ron does not have in his collection (along with Ptolemy).",Cornelius Agrippa
11,Aragog,"The creature that was believed to be the monster inside the Chamber of Secrets. Was raised by Hagrid inside the castle and is an acromantula. Lives in the forest with it’s family, and ordered Harry and Ron to be killed in Book 2. He also died in Book 6.",Aragog
12,Arnold,Ginny’s pet Pygmy Puff.,Arnold
...,...,...,...
685,"Wright, Bowman",Created the golden snitch.,Bowman Wright
690,Yvonne,A friend of Mr. Durlsey’s who Mrs. Dursley said they should call to watch Harry in book 1.,Yvonne
691,"Zabini, Blaise","A Slytherin boy in Harry’s year who, when Slughorn was complimenting Harry and saying that he had great power, coughed sarcastically. Ginny then yelled at him saying, “Yeah, Zabini, because you’re so talented…at posing…”. His mother was famous for being beautiful and marrying 7 times; each to a witch wizard who died of a mysterious death. He does not like muggle borns or blood traitors either, like Draco Malfoy.",Blaise Zabini
693,"Zamojski, Ladislaw",A Polish chaser that Ron was compared to from one of his saves (comparison from Zamojski as chaser to Ryan from the Irish National Quidditch team as keeper).,Ladislaw Zamojski
694,"Zeller, Rose",A girl sorted into Hufflepuff in Book 5.,Rose Zeller

In [660]:
len([person for person in json_names if person in has_info])

302

In [661]:
json_df = pd.DataFrame(data)

In [662]:
json_df.head()

,id,name,birth,death,species,ancestry,gender,hair_color,eye_color,wand,patronus,house,associated_groups,books_featured_in
0,1,Euan Abercrombie,between 1 September 1983 and 31 August 1984,None,Human,None,Male,None,None,None,None,Gryffindor,"[Hogwarts School of Witchcraft and Wizardry, Gryffindor]",[5]
1,2,Stewart Ackerley,between 1 September 1982and 31 August 1983,None,Human,None,Male,None,None,None,None,Ravenclaw,[],[4]
2,3,African prince,None,None,Human,Muggle-born or half-blood (possibly),Male,None,None,None,None,None,[Africa],[1]
3,4,Agnes's son,None,None,Human,None,Male,None,None,None,None,None,[],[5]
4,5,Cornelius Agrippa,1486,1535 (aged 48 - 49),Human,None,Male,Brown,Green,None,None,None,[],[1]

In [663]:
new_df = json_df.merge(df, how='inner', left_on='name', right_on='first_last').drop(columns = ['name_y', 'first_last'])

In [664]:
new_df.head()

,id,name_x,birth,death,species,ancestry,gender,hair_color,eye_color,wand,patronus,house,associated_groups,books_featured_in,info
0,1,Euan Abercrombie,between 1 September 1983 and 31 August 1984,None,Human,None,Male,None,None,None,None,Gryffindor,"[Hogwarts School of Witchcraft and Wizardry, Gryffindor]",[5],A Gryffindor student who first came to Hogwarts in Harry’s 4th year.
1,5,Cornelius Agrippa,1486,1535 (aged 48 - 49),Human,None,Male,Brown,Green,None,None,None,[],[1],"Living from 1486 - 1535 and was on a wizard card saying celebrated wizard imprisoned by Muggles for his writing, because they thought his books were evil”. She is also the only card that Ron does not have in his collection (along with Ptolemy)."
2,11,Aragog,c. 1942,"20 April, 1997 (aged around 55)",Acromantula,None,Male,Brown,Black & Grey/Milky-White (Blind),None,None,None,"[Rubeus Hagrid, Forbidden Forest Acromantula colony]","[2, 5, 6, 7]","The creature that was believed to be the monster inside the Chamber of Secrets. Was raised by Hagrid inside the castle and is an acromantula. Lives in the forest with it’s family, and ordered Harry and Ron to be killed in Book 2. He also died in Book 6."
3,15,Arnold,c. 1996,None,Pygmy Puff,None,Male,Purple,None,None,None,None,[Ginny Weasley],[6],Ginny’s pet Pygmy Puff.
4,16,Bertram Aubrey,"c. 1950s - 1960s, Great Britain or Ireland",None,Human,None,Male,None,None,None,None,None,[Hogwarts School of Witchcraft and Wizardry],[6],A boy that Sirius and James Potter used an illegal hex on that made his head swell to twice it’s normal size.

In [665]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 303 non-null    int64
 1   name_x             303 non-null    object
 2   birth              231 non-null    object
 3   death              80 non-null     object
 4   species            302 non-null    object
 5   ancestry           127 non-null    object
 6   gender             302 non-null    object
 7   hair_color         153 non-null    object
 8   eye_color          81 non-null     object
 9   wand               62 non-null     object
 10  patronus           71 non-null     object
 11  house              102 non-null    object
 12  associated_groups  303 non-null    object
 13  books_featured_in  303 non-null    object
 14  info               303 non-null    object
dtypes: int64(1), object(14)
memory usage: 37.9+ KB

In [666]:
# rename name column

new_df = new_df.rename(columns={'name_x': 'name'})

In [667]:
# fill nulls
new_df = new_df.fillna('None')

In [668]:
data2 = new_df.to_json(orient = 'records')

# this converts it from a json string to a list of dictionaries
data2 = list(eval(data2))

In [669]:
[person['name'] for person in data2 if person['name'].lower().startswith('h')]

['Heathcote Barbary',
 'Humphrey Belcher',
 'Harold Dingle',
 'Harper',
 'Hermes',
 'Hassan Mostafa',
 'Horace Slughorn',
 'Herman Wintringham',
 'Hengist of Woodcroft',
 'Hetty Bayliss',
 'Hedwig',
 'Hedwig',
 'Hokey',
 'Helga Hufflepuff',
 'Hestia Jones',
 'Hepzibah Smith']

In [670]:
search_name = 'Hepzibah Smith'

for person in data2:
    if person['name'].lower() == search_name.lower():
        #time.sleep(2.0)
        print("{name} : {info}".format(name = capitalize_name(person['name']), info = person['info']))

Hepzibah Smith :  A witch who had Tom Riddle over to her house many times, usually on business (Tom them worked in Borgin and Burkes). She showed him a silver cup with 2 finely wrought handles, and said that it belonged to Helga Hufflepuff, and that she was the heir to Hufflepuff. She also showed him a golden locket that had a S with serpent letters that had belonged to Salazar Slytherin. She died 2 days after this after supposedly being murdered by her house elf Hokey, and her 2 items were missing (But was really Tom Riddle who killed her for her special items and then taken them).

In [671]:
for person in data:
    if person['name'].lower() == 'harry potter':
        print(person)

{'id': 326, 'name': 'Harry Potter', 'birth': '31 July, 1980', 'death': None, 'species': 'Human', 'ancestry': 'Half-blood', 'gender': 'Male', 'hair_color': 'Jet-black', 'eye_color': 'Bottle green', 'wand': '11", Holly, phoenix feather', 'patronus': 'Stag', 'house': 'Gryffindor', 'associated_groups': ['Potter family', 'Weasley family', 'Albus Dumbledore', "Dumbledore's Army", 'Order of the Phoenix', 'Hogwarts School of Witchcraft and Wizardry', 'Gryffindor', 'Gryffindor Quidditch team', 'Slug Club', 'British Ministry of Magic', 'Auror Office', 'Department of Magical Law Enforcement', 'S.P.E.W.'], 'books_featured_in': [1, 2, 3, 4, 5, 6, 7]}

I know I've been going off on some tangents but that's just how my brain has been working recently. I'm going to try and create a function that lets me compare the names in the two data structures so that I can fix the issue of having Harry Potter and Harry James Potter. This will probably take a while.
But right now I'm gonna try to do it with pandas series.

Found [this article](https://towardsdatascience.com/fuzzywuzzy-find-similar-strings-within-one-column-in-a-pandas-data-frame-99f6c2a0c212) that should be helpful.

[This one](https://pythoninoffice.com/how-to-find-similar-strings-using-python/) too

In [672]:
# create list of charachters
char_list = pd.Series([person['name'] for person in data])

In [673]:
# ah do a boolean then look at the ones that are different

df[df.first_last.isin(char_list) == False]['first_last']

1            Hannah Abbot
3        Steward Ackerley
4          Falcon Aesalon
7      Archibald Alderton
8         Alguf the Awful
              ...
687              ? Yaxley
688       Lysandra Yaxley
689        Cyprian Youdle
692              ? Zabini
695              ? Zograf
Name: first_last, Length: 393, dtype: object

In [607]:
# import the fuzzywuzzy library
from fuzzywuzzy import process, fuzz

# had to install python-Levenshtein to get this to work right

In [688]:
df['first_last'] = df.name.apply(get_first_and_last_name)

In [689]:
name_list = list(df.first_last)
name_list.extend(char_list)

In [690]:
# strip whitespace
name_list = [name.strip() for name in name_list]

In [691]:
# think there's a better way to do this with series

# create series from datframe
name_series = df.first_last

# append the character list
name_series = name_series.append(char_list)

#strip the whitespace
name_series = name_series.str.strip()

# get unique names
unique_names_array = name_series.unique()

# turn back into series
unique_names_series = pd.Series(unique_names_array)

# turn into list as well
unique_names_list = list(unique_names_array)

In [692]:
#Create tuples of brand names, matched brand names, and the score
score_sort = [(x,) + i
             for x in unique_names_list
             for i in process.extract(x, unique_names_list, scorer=fuzz.token_sort_ratio)]
#Create a dataframe from the tuples
similarity_sort = pd.DataFrame(score_sort, columns=['name_sort','match_sort','score_sort'])
similarity_sort.head()

      name_sort                     match_sort  score_sort
0  Hannah Abbot                   Hannah Abbot         100
1  Hannah Abbot                  Hannah Abbott          96
2  Hannah Abbot         Hannah Abbott's mother          71
3  Hannah Abbot                 Bandon Banshee          46
4  Hannah Abbot  Flourish and Blotts (Manager)          46

In [693]:
similarity_sort.head(10)

          name_sort                     match_sort  score_sort
0      Hannah Abbot                   Hannah Abbot         100
1      Hannah Abbot                  Hannah Abbott          96
2      Hannah Abbot         Hannah Abbott's mother          71
3      Hannah Abbot                 Bandon Banshee          46
4      Hannah Abbot  Flourish and Blotts (Manager)          46
5  Euan Abercrombie               Euan Abercrombie         100
6  Euan Abercrombie                    Frank Bryce          52
7  Euan Abercrombie                Madam Edgecombe          52
8  Euan Abercrombie                    Ernie Prang          52
9  Euan Abercrombie                    Lucian Bole          52

In [694]:
similarity_sort[similarity_sort.score_sort > 90].tail(50)

,name_sort,match_sort,score_sort
5230,Portrait of a mermaid,Portrait of a mermaid,100
5235,Euphemia Potter,Euphemia Potter,100
5240,Molly Weasley's mother,Molly Weasley's mother,100
5245,Prime Minister's niece,Prime Minister's niece,100
5250,Elsie Prod,Elsie Prod,100
5255,Puddifoot,Puddifoot,100
5260,Helena Ravenclaw,Helena Ravenclaw,100
5265,Maisy Reynolds,Maisy Reynolds,100
5270,Mary Riddle,Mary Riddle,100
5275,Merope Riddle,Merope Riddle,100
5280,Riddles' cook,Riddles' cook,100
5285,Riddles' maid,Riddles' maid,100
5290,Roberts's wife,Roberts's wife,100
5295,C. Roemmele,C. Roemmele,100
5300,Rosmerta,Rosmerta,100
5305,Skower,Skower,100
5310,Serpent of Slytherin,Serpent of Slytherin,100
5315,Sixth-Year Inquisitorial Squad Member,Sixth-Year Inquisitorial Squad Member,100
5320,Enid Smeek,Enid Smeek,100
5325,Smeltings nurse,Smeltings nurse,100
5330,Alicia Spinnet,Alicia Spinnet,100
5331,Alicia Spinnet,Alicia Spinett,93
5335,Winged St Mungo's patient,Winged St Mungo's patient,100
5340,The Fates,The Fates,100
5345,Theodore Nott's mother,Theodore Nott's mother,100
5350,Dean Thomas's mother,Dean Thomas's mother,100
5355,Sybill Trelawney,Sybill Trelawney,100
5360,Donaghan Tremlett's wife,Donaghan Tremlett's wife,100
5365,Trolley witch,Trolley witch,100
5370,Two little witches,Two little witches,100
5375,Tyra Teegarden,Tyra Teegarden,100
5380,Dolores Umbridge,Dolores Umbridge,100
5385,Romilda Vane's grandmother,Romilda Vane's grandmother,100
5390,Verity,? Verity,100
5391,Verity,Verity,100
5395,Wailing Widow,Wailing Widow,100
5400,Waitress at Luchino Caffe,Waitress at Luchino Caffe,100
5405,Wakanda,Wakanda,100
5410,Myrtle Warren,Myrtle Warren,100
5415,Myrtle Warren's mother,Myrtle Warren's mother,100
5416,Myrtle Warren's mother,Myrtle Warren's father,91
5420,Ginny Weasley,Ginny Weasley,100
5425,Rose Granger-Weasley,Rose Granger-Weasley,100
5430,Victoire Weasley,Victoire Weasley,100
5431,Victoire Weasley,Victoire Weasley,100
5435,St Mungo's Welcome Witch,St Mungo's Welcome Witch,100
5440,Winky's grandmother,Winky's grandmother,100
5445,Winky's mother,Winky's mother,100
5450,Oliver Wood's mother,Oliver Wood's mother,100
5455,Blaise Zabini's mother,Blaise Zabini's mother,100

Looks like we have some spelling mistakes here. And but that the fuzz sort did a good job. I'll now need to figure out how to deal with all these. 

I'm going to take a look at Lily Potter first. Because I see there are two entries.

In [608]:
df[df.first_last == 'Lily Potter']

,name,info,first_last
487,"Potter, Lily",Daughter of Ginny and Harry Potter.,Lily Potter
488,"Potter, Lily","(maiden name: Lily Evans) Lily Potter is the mother of Harry Potter. She was a member of the Order of the Phoenix and the wife of James Potter (above). She was quite popular in school, and was muggle born. She, like Harry, was in the Slug Club. According to Slughorn, she was good at everything (that had to do with school). Her along with her husband were killed by Lord Voldemort in attempt to get their son, Harry. She would not let Voldemort kill Harry, so he killed her. This made a protective shield around Harry so Voldemort could not kill him. This spell was then broken in Book 4 when Voldemort took Harry’s blood so that he could now kill him.",Lily Potter

Clearly one of these is Lily Potter Harry's Mom, (Lily J. Potter) and one of them is Harry's daughter (Lily L.Potter). I'll need a way to figure out how to sort through this programatically. 

Let me first look in the JSON and see what's in there.

In [609]:
[person for person in data if person['name'] == 'Lily L. Potter']

[{'id': 679,
  'name': 'Lily L. Potter',
  'birth': 'Between 1 September 2007 and 31 August 2008',
  'death': None,
  'species': 'Human',
  'ancestry': 'Half-blood',
  'gender': 'Female',
  'hair_color': 'Red',
  'eye_color': None,
  'wand': None,
  'patronus': None,
  'house': 'Gryffindor',
  'associated_groups': ['Potter family',
   'Weasley family',
   'Prewett family',
   'Hogwarts School of Witchcraft and Wizardry',
   'Gryffindor'],
  'books_featured_in': [7]}]

I need to change individual entries. Looks like the JSON has the middle inital. Which is perfect. Because eventually I want the info from the JSON and just add the character bio info from the dataframe. So I need to change the entry in the dataframe to match the one in the JSON, then make sure the info maps correctly to the JSON. 

`.at` changes can select an index number and a column name. [This link](https://re-thought.com/how-to-change-or-update-a-cell-value-in-python-pandas-dataframe/) helped me figure that out.

In [687]:
# change harry's daughter's name to Lily L
df.at[487, 'name']= 'Potter, Lily L.'

In [678]:
# change harry's mom's name to Lily J.
df.at[488, 'name'] = 'Potter, Lily J.'

In [679]:
df.at[488, 'name']

'Potter, Lily J.'

### My Plan for straightening out this JSON/DF situation

**Step 1**
- get names into two seperate lists. JSON list and df list

**Step 2** 
- Compare names to each other using the fuzz token sort. Figure out how to compare two lists and not just one big list

**Step 3** 
- Most of the token sort ratios seemed to be good matches. So if it's 100 we won't have to do anything. Use threshold of 90 for further evaluation. 
- Maybe we'll have the ones that are between 90 and 99 print out? Add to a separate dataframe for review.

In [704]:
# think there's a better way to do this with series

# create series from datframe
info_series = (df.first_last).str.strip().unique()

# append the character list
json_series = (pd.Series(char_list)).str.strip().unique()

info_list = list(info_series)

json_list = list(json_series)

In [ ]:
#Create tuples of brand names, matched brand names, and the score
score_sort = [(x,) + i
             for x in unique_names_list
             for i in process.extract(x, unique_names_list, scorer=fuzz.token_sort_ratio)]
#Create a dataframe from the tuples
similarity_sort = pd.DataFrame(score_sort, columns=['name_sort','match_sort','score_sort'])
similarity_sort.head()

In [742]:
def check_for_fuzzy_match(string1, a_list):
    
    score_list = process.extract(string1, a_list, scorer=fuzz.token_sort_ratio)
    
    score_df = pd.DataFrame(score_list, columns=['comparison_name','score'])
    
    score_df['name'] = name
    
    return score_df

In [761]:
my_string = 'Hannah Abbott'

check_for_fuzzy_match(my_string, info_list)

                 comparison_name  score              name
0                   Hannah Abbot     96  Albus Dumbledore
1                      Blott. ?s     50  Albus Dumbledore
2  Flourish and Blotts (Manager)     50  Albus Dumbledore
3             Carlotta Pinkstone     45  Albus Dumbledore
4                 Bandon Banshee     44  Albus Dumbledore

In [764]:
top_scores = pd.DataFrame(columns = ['name', 'comparison_name', 'score'])

# loop through the json _name list
for name in json_list:
    
    # get the list for each name with the fuzzy match function
    score_df = check_for_fuzzy_match(name, info_list)
    
    # print out the name we're looking at, and the top match
    top_scores = top_scores.append(score_df.sort_values(by='score', ascending = False).head(1), ignore_index=True)

In [765]:
# haha yes it works! 
top_scores.head(10)

                        name       comparison_name score
0           Euan Abercrombie      Euan Abercrombie   100
1           Stewart Ackerley      Steward Ackerley    94
2             African prince          Adrian Pucey    69
3                Agnes's son           Susan Bones    64
4          Cornelius Agrippa     Cornelius Agrippa   100
5             Albino peacock     Apolline Delacour    58
6             Arkie Alderton    Archibald Alderton    75
7                      Angus                  Fang    67
8  Antioch Peverell's killer      Antioch Peverell    78
9      Apothecary shopkeeper  Albus Severus Potter    54

In [766]:
top_scores.loc[top_scores.score > 90].sort_values(by = 'score').head(20)

                             name                    comparison_name score
236                   Viktor Krum                        Victor Krum    91
109       Patrick Delaney-Podmore        Sir Patrick Delaney Podmore    92
324                James Potter I                       James Potter    92
601                 Eloise Midgen                      Eloise Midget    92
255                   Remus Lupin                     Remus J. Lupin    92
147                 Benjy Fenwick                      Benji Fenwick    92
276  Nicholas de Mimsy-Porpington  Sir Nicholas de Mimsey Porpington    92
523                       Fawcett                           Fawcetts    93
130          Aberforth Dumbledore              Alberforth Dumbeldore    93
429               Charles Weasley                    Charlie Weasley    93
614                      Norberta                            Norbert    93
659                Alicia Spinnet                     Alicia Spinett    93
57               Pierre Bonaccord                   Pierre Bonnacord    94
1                Stewart Ackerley                   Steward Ackerley    94
71               Caractacus Burke                   Caractucus Burke    94
456                 Hannah Abbott                       Hannah Abbot    96
210                 Terence Higgs                     Terrence Higgs    96
102                Barnabas Cuffe                      Barabas Cuffe    96
92                 Dennis Creevey                      Dennis Creevy    96
91                  Colin Creevey                       Colin Creevy    96

In [788]:
best_score_df = top_scores.loc[top_scores.score > 90].sort_values(by = 'score')

Excellent. Now I have a dataframe with the scores above 90. So I can filter through these and see the spelling mistakes and all that.

In [785]:
test_info = df.loc[df.first_last == 'Hannah Abbot']['info'][1]

In [786]:
type(test_info)

str

In [794]:
# join dataframe with comparison name to get info
best_score_df.merge(df[['info', 'first_last']], how = 'left', left_on = 'comparison_name', right_on= 'first_last').head(5)

,name,comparison_name,score,info,first_last
0,Viktor Krum,Victor Krum,91,"Bulgarian Seeker on their national quidditch team. Was also the champion for Durmstrang (his school) in the Triwizard Tournament in Book 4. He went to the Yule Ball with Hermione Granger (see Granger, Hermione) in Book 4, and was written a novel by her in Book 5. He invited her to come and stay with him in the summer between her 4th and 5th year, but she declined (we think) because she was with Ron Weasley in Grimmauld place (the headquarters of the Order of the Phoenix) in the beginning of book 5 (summer between year 4 and 5). Hermione was also the 1 thing that he would miss the most; because she was at the bottom of the lake for Krum to save in the Second Task of the Triwizard Tournament.",Victor Krum
1,Patrick Delaney-Podmore,Sir Patrick Delaney Podmore,92,Leader of the Headless Hunt who keeps declining Nearly Headless Nick into the Headless Hunt.,Sir Patrick Delaney Podmore
2,James Potter I,James Potter,92,"James Potter is the father of Harry Potter. He was a member of the Order of the Phoenix. He was best friends with Sirius Black, Remus Lupin, and Peter Pettigrew when he attended school. He was a bit of a troublemaker in school, landing himself in detention quite a bit. He also played chaser for the Gryffindor quidditch team. His nickname in school was Prongs (by his closest friends) because he could turn into a stag. He along with his wife Lily Potter (below) were murdered by Lord Voldemort in attempt to get to their son; Harry.",James Potter
3,Eloise Midgen,Eloise Midget,92,"A girl who had an acne problem and tried to curse them off, and as a result her nose fell off.",Eloise Midget
4,Remus Lupin,Remus J. Lupin,92,"The Defense Against the Dark Arts teacher in Book 3. He was also best friends with Sirius Black, James Potter, and Peter Pettigrew when he attended Hogwarts. He is a werewolf and was bitten when he was young. He is a member of the Order of the Phoenix and was a Gryffindor when he was younger. He was also made a prefect so that he could try and get his friends to behave. He has a girlfriend (or we all hope he will come to his senses and accept) who is Nymphadora Tonks. Was murdered in Deathly Hallows by Dolohov in the final battle.",Remus J. Lupin

This part might not work like this. I'll have to inspect the matches. from below it looks like there's only 33 that have less than 100 match.

In [808]:
best_score_df.loc[best_score_df.score != 100].sort_values(by = 'score').head(33)

                             name                    comparison_name score
236                   Viktor Krum                        Victor Krum    91
109       Patrick Delaney-Podmore        Sir Patrick Delaney Podmore    92
324                James Potter I                       James Potter    92
601                 Eloise Midgen                      Eloise Midget    92
255                   Remus Lupin                     Remus J. Lupin    92
147                 Benjy Fenwick                      Benji Fenwick    92
276  Nicholas de Mimsy-Porpington  Sir Nicholas de Mimsey Porpington    92
659                Alicia Spinnet                     Alicia Spinett    93
614                      Norberta                            Norbert    93
429               Charles Weasley                    Charlie Weasley    93
130          Aberforth Dumbledore              Alberforth Dumbeldore    93
523                       Fawcett                           Fawcetts    93
57               Pierre Bonaccord                   Pierre Bonnacord    94
1                Stewart Ackerley                   Steward Ackerley    94
71               Caractacus Burke                   Caractucus Burke    94
373                   Jack Sloper                       Jack Slooper    96
51                   Bloody Baron                      Bloody Barron    96
497                 Elfrida Cragg                     Elfrinda Cragg    96
149                   Argus Filch                       Argus Filtch    96
210                 Terence Higgs                     Terrence Higgs    96
92                 Dennis Creevey                      Dennis Creevy    96
102                Barnabas Cuffe                      Barabas Cuffe    96
456                 Hannah Abbott                       Hannah Abbot    96
91                  Colin Creevey                       Colin Creevy    96
192           Gellert Grindelwald                 Gelert Grindelwald    97
157            Mundungus Fletcher                  Mudungus Fletcher    97
554               Mafalda Hopkirk                   Malfalda Hopkirk    97
80                 Owen Cauldwell                    Owens Cauldwell    97
74               Eddie Carmichael                    Eddie Carmichel    97
520               Enid Longbottom               Ernid Longbottom (?)    97
598               Dorcas Meadowes                     Dorcas Meadows    97
155                Nicolas Flamel                    Nicholas Flamel    97
376         Hippocrates Smethwyck               Hippocrates Smethwyk    98

In [807]:
for person in data:
    person['name']

Euan Abercrombie
Stewart Ackerley
African prince
Agnes's son
Cornelius Agrippa
Albino peacock
Arkie Alderton
Angus
Antioch Peverell's killer
Apothecary shopkeeper
Aragog
Arcus
Arkie Alderton's alleged son
Armenian warlock
Arnold
Bertram Aubrey
Avery I
Avery II
Archie Aymslowe
Malcolm Baddock
Badgered Boy
Ludovic Bagman's father
Ludovic Bagman
Otto Bagman
Bane
Heathcote Barbary
Barnabas the Barmy
Baruffio
Ali Bashir
Basil
Beedle the Bard
Damocles Belby
Marcus Belby
Marcus Belby's father
Humphrey Belcher
Katie Bell's father
Bem
Benjamin Hater
Bernie
Bilius
Binky
Cuthbert Binns
Dennis Bishop
Black Knight
Alphard Black
Arcturus Black III
Orion Black
Phineas Nigellus Black
Regulus Black
Sirius Black
Miles Bletchley
Bloody Baron
Stubby Boardman
Bob
Broderick Bode
Bogrod
Lucian Bole
Pierre Bonaccord
Amelia Bones' father
Edgar Bones
Mungo Bonham
Terry Boot
Libatius Borage
Borgin
Boris the Bewildered
Bozo
Rupert Brookstanton
Lavender Brown's father
Brutus
Frank Bryce
Buckbeak
Caractacus Burke
Cadogan
Cadwallader
Eddie Carmichael
Amycus Carrow
Catchpole
Mary Cattermole's father
Alfred Cattermole
Reginald Cattermole
Owen Cauldwell
Ceremony official
Chambers
Cho Chang's father
Herbert Chorley
Clive Lundquist
Connolly
Ritchie Coote
Michael Corner
Crabbe
Vincent Crabbe
Colin Creevey
Dennis Creevey
Creevey brothers' father
Cresswell brothers
Dirk Cresswell
Saul Croaker
Crookshanks
Bartemius Crouch Junior
Bartemius Crouch Senior
Bartemius Crouch Snr's grandfather
Gideon Crumb
Barnabas Cuffe
Hector Dagworth-Granger
Roger Davies
John Dawlish
Caradoc Dearborn
Squat, wheezy man
Delacour sisters' father
Patrick Delaney-Podmore
Dennis
Derek
Peregrine Derrick
Barnabas Deverill
Dedalus Diggle
Amos Diggory
Cedric Diggory
Ivor Dillonsby
Vasily Dimitrov
Harold Dingle
Armando Dippet
Dishevelled Wizard
Dobby
Elphias Doge
Antonin Dolohov
Double-ended-newt wizard
Dragon keeper
Driving test examiner
Dudley
Kirley Duke
Aberforth Dumbledore
Percival Dumbledore
Dudley Dursley
Vernon Dursley
Marietta Edgecombe's father
Egbert the Egregious
Elfric the Eager
Emeric the Evil
Errol
Mark Evans
Evans sisters' father
Everard
Fallen Fifty
Fang
Fat Friar
Father Christmas
Fawkes
Benjy Fenwick
Fergus
Argus Filch
Justin Finch-Fletchley
Barnabus Finkley
Seamus Finnigan's father
Seamus Finnigan
Firenze
Nicolas Flamel
Angus Fleet
Mundungus Fletcher
Marcus Flint
Filius Flitwick
Florence's boyfriend
Fluffy
Ambrosius Flume
Dexter Fortescue
Florean Fortescue
Foul-smelling Snatcher
Fubster
Cornelius Fudge
Ulick Gamp
Marvolo Gaunt
Morfin Gaunt
Portly ghost
Gibbon
Godelot
Godfrey
Godric's Hollow Muggle boy
Anthony Goldstein
Golgomath
Gordon
Dragomir Gorgovitch
Gorilla at the Zoo
Gornuk
Goyle
Gregory Goyle
Hermione Granger's father
Merton Graves
Grawp
Grawp's father
Greek man
Mykew Gregorovitch
Gregory the Smarmy
Fenrir Greyback
Gellert Grindelwald
Gringotts Guards
Gringotts Head Goblin
Griphook
Edmund Grubb
Grubby-looking St Mungo's patient
Alberic Grunnion
Godric Gryffindor
Davey Gudgeon
Rubeus Hagrid's father
Rubeus Hagrid
Ciceron Harkiss
Harper
Warty Harris
Heady
Hereward
Hermes
Bertie Higgs
Terence Higgs
Oakden Hobday
Hogwarts Express conductor
Hogwarts school mice
Phillipus von Hohenheim
Geoffrey Hooper
Olive Hornby's brother
House of Black house-elves
Inigo Imago
Joey Jenkins
Arsenius Jigger
Lee Jordan's father
Lee Jordan
Jugson
Karkaroff’s Aide
Igor Karkaroff
Karkus
Karl H.
Silvanus Kettleburn
Kevin
Kevin's father
King's Cross Station guard
Andrew Kirke
Kreacher
Viktor Krum's father
Viktor Krum's grandfather
Viktor Krum
Lachlan the Lanky
Lancelot (Healer)
Lestrange
Rabastan Lestrange
Rodolphus Lestrange
Alexei Levski
Little Hangleton boys
Little Whinging postman
Livius
Dai Llewellyn
Gilderoy Lockhart
Frank Longbottom's father
Algie Longbottom
Frank Longbottom
Neville Longbottom
Xenophilius Lovegood
Loxias
Lyall Lupin
Remus Lupin
Edward Lupin
Aidan Lynch
Quintius MacBoon
Ernest Macmillan
Walden Macnair
Magorian
Malcolm
Abraxas Malfoy
Draco Malfoy
Lucius Malfoy
Scorpius Malfoy
Marauders
Marius
Martin Miggs
Mason
Olympe Maxime's father
Jim McGuffin
Cormac McLaggen
Merlin
Eloise Midgen's father
Nicholas de Mimsy-Porpington
Marcus Minugius
Cuthbert Mockridge
Graham Montague's father
Graham Montague
Montgomery
Alastor Moody
Mopsus (Potter-era)
Mortlake
Hassan Mostafa
Mr Paws
Mr Tibbles
Red-haired Muggle boy
Mulciber I
Eric Munch
Nicholas de Mimsy-Porpington's executioner
Nott
Theodore Nott
Oblansk
Roberts' Obliviator
Odo
Bob Ogden
Tiberius Ogden
Ogg
Garrick Ollivander
Painting of sinister-looking monks
Patil twins' father
Payne
Jimmy Peakes
Arnold Peasegood
Peeves
Octavius Pepper
Perkins
Peter Pettigrew
Ignotus Peverell's son
Antioch Peverell's enemy
Antioch Peverell
Cadmus Peverell
Ignotus Peverell
Arkie Philpott
Pigwidgeon
Sturgis Podmore
Poliakoff
Piers Polkiss
Roddy Pontner
Albus Potter
Fleamont Potter
Harry Potter
James Potter I
James Potter II
Ernest Prang
Prentice
Fabian Prewett
Gideon Prewett
Molly Weasley's father
Prime Minister's political opponent
Prime Minister's predecessor
Apollyon Pringle
Graham Pritchard
Demetrius Prod
Ptolemy
Adrian Pucey
Augustus Pye
Pyrites
Argo Pyrites
Quigley
Quirinus Quirrell
Urquhart Rackharrow
Ragnok
Ragnuk
Thomas Riddle
Tom Riddle (Voldemort)
Tom Riddle Senior
Ripper
Gawain Robards
Roberts
Roberts children
Romanian vampire
Ronan
Augustus Rookwood
Rosier (male)
Evan Rosier
Rowboat owner
Thorfinn Rowle
Albert Runcorn
Barry Ryan
Sanguini
Scabior
Newton Scamander
Scouthibou
Rufus Scrimgeour
Selwyn
Kingsley Shacklebolt
Gaspard Shingleton
Stanley Shunpike
Mylor Silvanus
Wilbert Slinkhard
Jack Sloper
Horace Slughorn
Salazar Slytherin
Hippocrates Smethwyck
Zacharias Smith's father
Zacharias Smith
Severus Snape
Tobias Snape
Stebbins (Potter-era)
Billy Stubbs
Stunned Death Eater
Summers
Surrey milkman
Emeric Switch
Robertus Tallis
Ted
Teffington
Tenebrus
Janus Thickey
Pius Thicknesse
Thomas Vace
Dean Thomas
Dean Thomas's father
Dean Thomas's stepfather
Orsino Thruston
Tiberius
Timothy Butler
Tofty
Tom
Edward Tonks
Kenneth Towler
Travers
Donaghan Tremlett
Trevor
Quentin Trimble
Troy
Wilkie Twycross
Urg the Unclean
Uric the Oddball
Urquhart
Vaisey
Violet-cloaked wizard
Vindictus Viridian
Ivan Volkov
Pyotr Vulchanov
Adalbert Waffling
Wagga Wagga Werewolf
Myron Wagtail
Myrtle Warren's father
Cassius Warrington
Weasley children's cousin
Weasley children's uncle
Weasley family ghoul
Molly Weasley's second cousin
Arthur Weasley
Arthur Weasley's brothers
Charles Weasley
Fred Weasley
George Weasley
Hugo Granger-Weasley
Percy Weasley
Ronald Weasley
Bill Weasley
Eric Whalley
Kevin Whitby
Willy Widdershins
Wilfred the Wistful
Will
Bill Weasley's Brazilian pen-friend
Williamson
Gilbert Wimple
Herman Wintringham
Oliver Wood's father
Oliver Wood
Hengist of Woodcroft
Eldred Worple
Bowman Wright
Corban Yaxley
Blaise Zabini
Ladislaw Zamojski
Lev Zograf
Zoo director
Hannah Abbott's mother
Hannah Abbott
Agnes
Alastor Moody's spiders
Babbitty Rabbity
Millicent Bagnold
Bathilda Bagshot
Bandon Banshee
Baruffio's wife
Hetty Bayliss
Katie Bell
Katie Bell's mother
Amy Benson
Araminta Meliflua Black
Elladora Black
Walburga Black
Amelia Bones' mother
Edgar Bones' wife
Amelia Bones
Susan Bones
Betty Braithwaite
Eleanor Branstone
Rita Skeeter
Mandy Brocklehurst
Lavender Brown
Lavender Brown's mother
Millicent Bulstrode
Rosalind Bungs
Charity Burbage
Alecto Carrow
Greta Catchlove
Mary Cattermole's mother
Ellie Cattermole
Maisie Cattermole
Mary Cattermole
Cecilia
Cho Chang
Cho Chang's mother
Circe
Penelope Clearwater
Cliodna
Cole
Elfrida Cragg
Dirk Cresswell's wife
Doris Crockford
Bartemius Crouch Jr's mother
Roger Davies's girlfriend
Delacour sisters' cousins
Apolline Delacour
Apolline Delacour's mother
Fleur Delacour
Gabrielle Delacour
Dilys Derwent
Cedric Diggory's mother
Emma Dobbs
Mary Dorkins
Dot
Ariana Dumbledore
Kendra Dumbledore
Durmstrang girl
Vernon Dursley's secretary
Marjorie Dursley
Petunia Dursley
Edgecombe
Marietta Edgecombe
Enid Longbottom
Evans sisters' mother
Fat Lady
Fawcett
Morgan le Fay
Fiesella Foss
Arabella Figg
Justin Finch-Fletchley's mother
Seamus Finnigan's mother
Perenelle Flamel
Mopsy Fleabert
Florence
Ambrosius Flume's wife
Fridwulfa
Vicky Frobisher
Cornelius Fudge's wife
German-speaking woman
Gloomy nuns
Leonora Gore
Gunhilda de Gorsemoor
Miranda Goshawk
Gregory Goyle's mother
Hermione Granger
Hermione Granger's mother
Daphne Greengrass
Lady Grieve
Wilhelmina Grubbly-Plank
Curious Gryffindor Girl
Gladys Gudgeon
Gimlet-eyed Hogwarts Headmistress
Hedwig
Hedwig
Hermione Granger's sister
Hokey
Rolanda Hooch
Mafalda Hopkirk
Olive Hornby
Hope Howell
Helga Hufflepuff
Ice cream seller
Clara Ivanova
User:Jack "BtR" Saxon/Hooch draft
User:Jack "BtR" Saxon/Trelawney draft
Angelina Johnson
Gwenog Jones
Hestia Jones
Bertha Jorkins's aunt
Bertha Jorkins
Josephine Kay
Karkus's wife
Kevin's mother
Aged witch
Kreacher's mother
Viktor Krum's mother
Leanne
Bellatrix Lestrange
Alice Longbottom
Augusta Longbottom
Luna Lovegood
Pandora Lovegood
Mary Macdonald
Morag MacDougal
Laura Madley
Mafalda
Mafalda's mother
Magical Menagerie saleswoman
Astoria Malfoy
Narcissa Malfoy
Malkin
Griselda Marchbanks
Marsh
Martha (British Muggle)
Mason's wife
Daphne Mauboisan
Olympe Maxime
Olympe Maxime's mother
Natalie McDonald
Minerva McGonagall
Marlene McKinnon
Dorcas Meadowes
Melinda Bobbin
Galatea Merrythought
Eloise Midgen
Graham Montague's mother
Montgomery children's mother
Montgomery sisters
Lily Moon
Moran
Mosag
Mullet
Murcus
Muriel
Muriel's mother
Nagini
Z. Nettles
Norberta
Mrs Norris
Pansy Parkinson's Gang
Paper shop girl
Pansy Parkinson
Patil twins' mother
Padma Patil
Parvati Patil
Sally-Anne Perks
Peter Pettigrew's mother
Enid Pettigrew
Cadmus Peverell's fiancée
Irma Pince
Piers Polkiss's mother
Poppy Pomfrey
Portrait of a mermaid
Euphemia Potter
Lily L. Potter
Lily J. Potter
Molly Weasley's mother
Prime Minister's niece
Eileen Prince
Elsie Prod
Puddifoot
Doris Purkiss
Orla Quirke
Helena Ravenclaw
Rowena Ravenclaw
Maisy Reynolds
Mary Riddle
Merope Riddle
Riddles' cook
Riddles' maid
Roberts's wife
Demelza Robins
C. Roemmele
Rosmerta
Skower
Serpent of Slytherin
Aurora Sinistra
Sixth-Year Inquisitorial Squad Member
Enid Smeek
Smeltings nurse
Veronica Smethley
Hepzibah Smith
Alicia Spinnet
Phyllida Spore
Pomona Sprout
Winged St Mungo's patient
Patricia Stimpson
Miriam Strout
The Fates
Theodore Nott's mother
Dean Thomas's mother
Agatha Timms
Andromeda Tonks
Nymphadora Tonks
Cassandra Trelawney
Sybill Trelawney
Donaghan Tremlett's wife
Trolley witch
Lisa Turpin
Two little witches
Tyra Teegarden
Dolores Umbridge
Cassandra Vablatsky
Emmeline Vance
Romilda Vane
Romilda Vane's grandmother
Septima Vector
Verity
Violet
Wailing Widow
Waitress at Luchino Caffe
Wakanda
Celestina Warbeck
Myrtle Warren
Myrtle Warren's mother
Ginny Weasley
Molly Weasley
Rose Granger-Weasley
Victoire Weasley
St Mungo's Welcome Witch
Wendelin the Weird
Winky
Winky's grandmother
Winky's mother
Oliver Wood's mother
Yvonne
Blaise Zabini's mother
Rose Zeller
Albus Dumbledore